{% extends "layout.html" %}
{% block content %}
<h1>About us</h1>
We are a group of students working/studying at 中央研究院地球科學研究所. Our team includes:

蘇濬

阮公義 (Nguyen Cong Nghia)

庫馬 (Utpal Kumar)

徐志煌

簡祐祥
<h2>Contact us</h2>
If you have any questions or interested in our work, you can visit us at:

Website: www.iescoders.com

Facebook: <a href="https://www.facebook.com/iescoders/?ref=bookmarks">IES Coders</a>

Address: 128, Sec. 2, Academia Road, Nangang, Taipei 11529, Taiwan

Email: earthsciencecoders@gmail.com

{% endblock content %}
