{% extends "layout.html" %}
{% block content %}
<h1>About us</h1>
<p>We are a group of students working/studying at 中央研究院地球科學研究所. Our team includes:</p>

<p>蘇濬</p>

<p>阮公義 (Nguyen Cong Nghia)</p>

<p>庫馬 (Utpal Kumar)</p>

<p>徐志煌</p>

<p>簡祐祥</p>
<h2>Contact us</h2>
<p>If you have any questions or interested in our work, you can visit us at:</p>

<p>Website: <a href="www.iescoders.com">iescoders.com</a></p>

<p>Facebook: <a href="https://www.facebook.com/iescoders">IES Coders</a></p>

<p>Address: Institute of Earth Sciences, 128, Sec. 2, Academia Road, Nangang, Taipei 11529, Taiwan</p>

<p>Email: earthsciencecoders@gmail.com</p>

{% endblock content %}
