{% extends "layout.html" %}
{% block content %}
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script>src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"</script>
<H3><span data-toggle="popover" title="{{ pest_name }}" data-content="<img src='{{ pest_image }}' width='300' />{{ pest_desc }}">{{ pest_name }}(<i>{{ pest_latin}}</i>)</span>與天敵種之 EI 值圖</H3>
<!-- <button type="button" class="btn btn-lg btn-danger" >Click to toggle popover</button> -->
<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      html: true,
      trigger: 'hover',
    });
  });
</script>
{% include htmlfile %}

{% endblock content %}

{% block calculator %}
<hr>
<p>
  <h5>Possible Loss for <b>{{ crop_name }}</b>:</h5>
  <button type="button" class="btn btn-warning btn-lg"><b><span id="Output">NT$ <span id="Loss">3</span></span></b></button>
  <hr>
  <span id="SliderValLabel">損失比例: <span id="SliderVal">3</span> %</span>
  <div class="slidecontainer">
    <input type="range" min="0" max="100" value="50" class="slider" id="LossRation">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text">總種植面積</span></div>
    <input type="text" class="form-control" placeholder="50" aria-label="請輸入種植面積" id="area">
    <div class="input-group-append"><span class="input-group-text">公頃</span></div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text">每公頃產量</span></div>
    <input type="text" class="form-control" placeholder={{crop_yield}} aria-label="請輸入單位產量" id="yield">
    <div class="input-group-append"><span class="input-group-text">公斤</span></div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend"><span class="input-group-text">每公斤價格</span></div>
    <input type="text" class="form-control" placeholder={{crop_price}} aria-label="請輸入單位價格" id="price">
    <div class="input-group-append"><span class="input-group-text">新台幣</span></div>
  </div>
</p>
<script type="text/javascript">
  var slider = document.getElementById("LossRation");
  var area = document.getElementById("area");
  var yield = document.getElementById("yield");
  var price = document.getElementById("price");
  var view = document.getElementById("SliderVal");
  var output = document.getElementById("Loss");
  view.innerHTML = slider.value; // Display the default slider value

  function formatMoney(n, c, d, t) {
    var c = isNaN(c = Math.abs(c)) ? 2 : c,
      d = d == undefined ? "." : d,
      t = t == undefined ? "," : t,
      s = n < 0 ? "-" : "",
      i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
      j = (j = i.length) > 3 ? j % 3 : 0;

    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
  }

  // Update the current slider value (each time you drag the slider handle)
  function calculate(){
    loss = slider.value / 100 * (area.value? area.value:area.placeholder) * (yield.value ? yield.value:yield.placeholder) * (price.value ? price.value:price.placeholder);
    output.innerHTML = formatMoney(loss,0,'.',',');
  }
  slider.oninput = function() {
    view.innerHTML = this.value;
    calculate();
  } 
  area.oninput = function() {calculate(); } 
  yield.oninput = function() {calculate(); } 
  price.oninput = function() {calculate(); } 
</script>
{% endblock calculator %}