{% extends "layout.html" %}
{% block content %}
<h1>Welcome to BioZone</h1>
<p>
    農業害蟲常在適合生存的環境下大量繁殖，造成農業作物的大量損失，導致農民血本無歸。
</p>

<p>
    農藥的投入雖然能夠預防蟲害，然而卻容易產生害蟲抗藥性和食安疑慮。
    由於近年來消費者意識的抬頭，有機農產品的需求日益增加，運用食物鏈觀念的害蟲防治法可以減少農藥的使用，提高農產品的附加價值。
</p>

<p>
    我們開發的 BioZone WebApp 結合了氣象資料和生物學研究，將害蟲可能侵擾的地區和時間視覺化的呈現在互動式地圖上，
    警惕可能移入的外來種並且估計害蟲帶來的經濟損失，以及建議適合投入的天敵品種，
    提供農民和農業決策者一個基於科學數據和風險管理概念的參考。
</p>

<p>
    BioZone 非常容易使用，不須安裝任何軟體，只要在瀏覽器上簡單選擇害蟲品種、拉動時間軸切換顯示的月份，所有資訊就會即時顯示在地圖上。
</p>

{% endblock content %}
