{% extends "layout.html" %}
{% block content %}
<figure><img src="https://raw.githubusercontent.com/IEScoders/BioZone/master/templates/manual1.png" width='100%'/></figure>
<figure><img src="https://raw.githubusercontent.com/IEScoders/BioZone/master/templates/manual2.png" width='100%'/></figure>
<figure><img src="https://raw.githubusercontent.com/IEScoders/BioZone/master/templates/manual3.png" width='100%'/></figure>
<figure><img src="https://raw.githubusercontent.com/IEScoders/BioZone/master/templates/manual4.png" width='100%'/></figure>
<figure><img src="https://raw.githubusercontent.com/IEScoders/BioZone/master/templates/manual5.png" width='100%'/></figure>
{% endblock content %}
