{% extends "layout.html" %}
{% block content %}
<h1>Links</h1>
<h2>GitHub</h2>
<p>
    <a href="https://github.com/IEScoders/BioZone" target="_blank">BioZone 原始碼</a>
</p>
<h2>資料來源</h2>
<p> <h5>中央氣象局</h5>
    <a href="https://e-service.cwb.gov.tw/HistoryDataQuery/index.jsp" target="_blank">觀測資料查詢系統</a>
</p>
<p> <h5>農委會</h5>
    <a href="https://kmweb.coa.gov.tw" target="_blank">農業知識入口網</a></br>
    <a href="https://data.coa.gov.tw/Query/ServiceDetail.aspx?id=176" target="_blank">重要農業害蟲圖鑑</a></br>
    <a href="https://data.coa.gov.tw/Query/ServiceDetail.aspx?id=135" target="_blank">臺灣地區果品生產概況</a></br>
    <a href="https://amis.afa.gov.tw/" target="_blank">農產品批發市場交易行情站</a>
</p>
<h2>參考文獻</h2>
<p><a href="https://doi.org/10.1016/0167-8809(85)90016-7" target="_blank">Sutherst, R. W., & Maywald, G. F. (1985). A computerised system for matching climates in ecology. Agriculture, Ecosystems & Environment, 13(3-4), 281-299.</a></p>
{% endblock content %}
